.createhover .glyph {
  display: none;
}
.calevent .il-dropzone .il_calevent > :not(span) a {
  color: inherit;
  font-size: 12px;
}
.il-dropzone .il_calevent > :not(span) {
  color: inherit;
  font-size: 12px;
}
.calevent .il-dropzone .il_calevent .il-dozenten a {
  color: #557196;
}
.calevent a.il-downloader {
  color: inherit;
  font-size: 12px;
  color: #333;
}
.calevent a.il-downloader :hover {
  color: black;
}
.il_calevent {
  position: relative;
}
.il_calevent > .btn-link {
  width: 100%;
}
.il_calevent .il-downloader .glyphicon {
  float: right;
}
.il_calevent > a.btn-link:first-child {
  display: inline;
  font-weight: bold;
}
.il_calevent > a.btn-link:first-child:before {
  content: "\a";
  white-space: pre;
}
.il-cal-month .il_calevent {
  padding: 3px;
  margin-bottom: 1px;
  font-size: 12px;
}
.il-cal-month a.il-downloader {
  color: inherit;
  font-size: 14px;
}
.il-cal-month .il_cal_navigation {
  display: none;
}
