.calevent .il-dropzone .il_calevent > :not(span) a {
  color: inherit;
  font-size: 12px;
}
.il-dropzone .il_calevent > :not(span) {
  color: inherit;
  font-size: 12px;
}
.calevent a.il-downloader {
  color: inherit;
  font-size: 12px;
}
.il_calevent {
  position: relative;
}
.il_calevent .glyphicon {
  position: absolute;
  top: 3px;
  right: 3px;
}
.il_calevent > a.btn-link:first-child {
  display: inline;
  font-weight: bold;
}
.il_calevent > a.btn-link:first-child:before {
  content: "\a";
  white-space: pre;
}
.il-cal-month .il_calevent {
  padding: 3px;
  margin-bottom: 1px;
  font-size: 12px;
}
.il-cal-month a.il-downloader {
  color: inherit;
  font-size: 14px;
}
.il-cal-month .il_cal_navigation {
  display: none;
}
